.wrap{
  margin: auto;
  margin-top: 40px;
  border: solid 1px;
  background-color: wheat;
  width: 500px;
  height: 700px;
  text-align:center;
  padding-top: 150px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 1px;
}
.passwordActions{
  margin-top: 30px;
}
.imageSpace{
  background-image: url("/image/game_image.jpeg");
  background-size: cover;
}