html {
  height: 100%;
  width: 100%;
  body {
    height: 100%;
    padding-top: 3rem;
    width: 100%;
    .home{
      padding-top: 10px;
      height: 100%;
      width: 100%;
      display: flex;
      .game-title{
        background-color:  #d2d2d2;
        height: 100%;
        width: 300px;
        border: solid 1px;
        .game-name{
          margin-bottom: 10px;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 45px;
          
          h3{
            margin-top: 0;
            font-size: 20px;
          }
          .search{
            margin-top: 30px;
            margin-bottom: 20px;
          }
        }
      }
      .channels{
        background-color: #d2d2d2;
        height: 100%;
        width: 300px;
        border-right: solid 1px;
        .channle-create-button{
          margin-bottom: 30px;
        }
      }
      .talk-space{
        background-color: wheat;
        height: 100%;
        width: 100%;
        position:relative;

        .message_form{
          background-color:  #d2d2d2;
          height: 50px;
          width: 100%;
          position: absolute;
          bottom:0;
          .message-main{
            display: flex;
            padding-top: 5px;
            margin: auto;
            width: 580px;
            position: relative;
            .message-box{
              .message-input{
                width:500px;
              }
              .message_image{
                position: absolute;
                right: 90px;
                bottom: 7px;
              }
            }
            .message-sendbtn{
              width: 80px;
            }
          }
        }
      }
    }
  }
}

.file_image{
  display: none;
}

// .main{
//   height: 100%;
//   margin-left: 0px;
//   margin-right: 0px;
//   padding-top: 9px;
//   width: 100%;
//   flex-wrap: nowrap;
//   display: flex;
// }
// @media screen and (min-width:1024px) {
//   .home{
//     width: 100%;
//     display: flex;
//     flex-wrap: nowrap;
//     margin-right: 0;
//     margin-left: 0;
//   }
//   .game-title, .channels{
//     max-width: 250px;
//     width: 250px;
//   }
//   .chat{
//     width: calc(100% - 500px);
//   }
//   .main{
//     padding-right: 0;
//     padding-left: 0;
//   }

// }
// @media (min-width: 768px){
//   .navbar-right {
//     margin-right: 0;
//   }
// }
.submit_form{
  margin-top: 30px;
}
.header_right{
  display: flex;
}
.MyAccount{
  justify-content:flex-end;
}
.message_form{
  width: 100%;

  .comment-content {
    width: 100%;
  }
}
// @media (min-width: 768px){
//   .form-inline{
//     display: flex;
//     flex-flow: unset;
//     flex-wrap: nowrap;
//     .form-group{
//       display: block;
//       width: 100%;
//     }
//   }
// }